        body {
           background-color: #EAF6F6;

                }
           hr {
               border-style:none;
               border-top-style: dotted;
               border-color: grey;
               border-width: 5px;
               /*height: 2px;
               */
               width: 5%;
           }
        /*   img {
               height: 200px;
               border-radius: 504;
               width: 200px;
               background-size: cover;
           }  */
/* The above is image. The below is class. Include class in Img statement and apply style using dot (.) and name. Class Selector */
           .NaveenCircle {
             height: 200px;
             border-radius: 504;
             width: 200px;
             background-size: cover;
           }

h1 {
    color: #66BFBF;
}

/* ID Selector. */
#heading {
  color: Red;
}

h3 {
    color: #66BFBF;
}
